.activity-card {
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  overflow: hidden;
  cursor: pointer;
}

.act-img-sc {
  position: relative;
}

.activity-card:hover .act-img-sc img {
  transform: scale(1.05);
  transition: 0.5s;
}

.activity-card .act-img-sc img {
  transition: 0.5s;
}

h3.activity-card-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #1a2b49;
  font-family: "GT-Eesti-Display-Medium-Trial";
}

.act-img-sc > img {
  height: 290px;
  object-fit: cover;
}


.tre .act-img-sc img {
  width: 100%;
}

.hd-col {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(26, 43, 73, 0.8) 0,
    rgba(26, 43, 73, 0.8) 16px,
    rgba(26, 43, 73, 0) 80px
  );
  /* mix-blend-mode: multiply; */
  border-radius: 4px;
  height: 80px;
  z-index: 1;
}

.hd-col {
  padding: 8px 10px;
  color: #fff;
}

.originals-new img {
  width: 12px;
  margin-right: 8px;
  display: inline;
}

.originals-new {
  font-size: 14px;
  color: #fff;
}

.wishlist-ic i {
  font-size: 22px;
}

.act-content {
  padding: 20px 20px;
  background-color: #fff;
}

span.activity-type {
  color: #63687a;
  margin-bottom: 5px !important;
  display: block;
  text-transform: uppercase;
  font-size: 13px;
}

h3.activity-card-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #1a2b49;
  font-family: "GT-Eesti-Display-Medium-Trial";
}

ul.act-attributes__con {
  color: #1a2b49;
  line-height: normal;
  font-size: 14px;
  margin-bottom: 15px;
}

ul.act-attributes__con li {
  display: inline-block;
}

.wishlist-items ul.act-attributes__con {
  margin-bottom: 0;
}

.activity-attr .bullet {
  margin-right: 3px;
}

.activity-attr .bullet:after {
  content: " •";
}

.star-sc {
  display: flex;
  gap: 10px;
}

.star-sc span {
  font-size: 13px;
  color: #63687a;
}

.rv-content .star-sc {
  margin-bottom: 13px;
}

.stars i {
  color: #ffd938;
  font-size: 13px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 2px;
}

.act-frm span {
  font-size: 17px;
  font-weight: 500;
  font-family: "GT-Eesti-Display-Medium-Trial";
}

.act-frm {
  font-size: 14px;
  color: #1a2b49;
}

.styles-module_item-container__a8zaY{
  background-color: white;
}

.styles-module_item-tracker__3bypy{
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.collection-header_con {
  margin-bottom: 60px;
  text-align: center;
}

.collection-header_con p {
  font-size: 22px;
  color: #fcb615;
  font-family: "GT-Eesti-Display-Medium-Trial";
}

.collection-header_con p {
  font-size: 20px;
  line-height: 30px;
  color: #1a2b49;
  font-family: 'GT-Eesti-Display-Regular-Trial';
}

.collection-header_title {
  margin-bottom: 50px;
}

h2.collection-header_title {
  font-size: 2.7rem;
  line-height: 2.9rem;
  text-align: center;
  margin-bottom: 20px;
}

.sights-box figure.image-figure {
  height: 276px;
  background-color: var(--background-secondary);
  display: flex;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  align-items: center;
}

.sights-box .intro_center.text-center h2 {
  color: #000000f5;
  font-size: 21px;
  text-shadow: 0px 0px 0px gray;
}
.sights-box .intro_center.text-center h4 {
  color: #00000087 !important;
  text-shadow: 0px 0px 0px gray;
  font-size: 16px;
  color: #fcb615 !important;
}

a.sight-card {
  border-radius: 8px;
  border: none;
  color: #fff;
  position: relative;
}

a.sight-card {
  position: relative;
  overflow: hidden;
  display: block;
}

.sight-card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
}

figure.image-figure {
  height: 400px;
  background-color: var(--background-secondary);
  display: flex;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  align-items: center;
}

.sights-box figure.image-figure {
  height: 276px;
  background-color: var(--background-secondary);
  display: flex;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  align-items: center;
}

.sight-card_caption {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  /* text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px; */
  padding: 0px;
  position: absolute;
  z-index: 9999999;
  bottom: 8%;
  left: 0;
  padding: 10px 15px;
  width: 100%;
}

figcaption.sight-card_caption {
  bottom: 0;
  top: auto;
  background: white;
  /* box-shadow: 0px 0px 76px black; */
  margin: 5%;
  width: 90%;
  border-radius: 10px;
  /* bottom: auto; */
}

.sights-box .intro_center.text-center h2 {
  color: #000000f5;
  font-size: 21px;
  text-shadow: 0px 0px 0px gray;
}
.sights-box .intro_center.text-center h4 {
  color: #00000087 !important;
  text-shadow: 0px 0px 0px gray;
  font-size: 16px;
  color: #fcb615 !important;
}

  /* ipad  */
  @media (min-width: 991px) and (max-width: 1024px) {
    .billing-box {
      margin-right: 30px;
    }
    .details-sidebar {
      width: 40%;
      padding-left: 29px;
  }
  figure.image-figure {
    height: 330px;
  }
  .nav-pills .nav-link {
    /* background: #fff; */
    color: #fff;
    padding: 20px 35px;
  }
    .row.align-center {
      align-items: center;
      background: #fcb61512;
      padding: 80px 80px;
  }
  .apply-sco-box {
    background: #fcb61512;
    padding: 30px 30px;
  }
    .wishlist-box .wis-box {
      width: 48%;
  }
    .faq-sq .row {
      row-gap: 30px;
    }
    .check-cart-item-in {
      display: flex;
      gap: 10px
    }
    .check-cart-item img {
      width: 70px;
  }
  .searchbox {
    position: relative;
    width: 100%;
  }
  .cart-sidebar {
    width: 40%;
    padding-left: 30px;
  }
  .cart_content-total h4 {
    font-size: 30px;
  }
  .coupon .make-meo h2 {
    font-size: 30px;
    margin-bottom: 18px;
  }
}


@media(max-width:991px){
  .searchbox {
    width: 100%;
    height: 56px;
   margin-top: 5px;
  }
  .logo img {
    width: 160px;
}
.tour-sv {
  padding: 0px 15px;
}
.or1{
  order: 1;
}

.or2{
  order: 2;
}
.or3{
  order: 3;
}
.header-list li span {
  display: none !important;
}
.banner-content h1 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin-bottom: 1rem;
}
.hero-section__subheader {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.nav-pills .nav-link i {
  display: block;
}
.nav-pills .nav-link {
  /* background: #fff; */
  color: #fff;
  padding: 12px 10px;
  font-size: 16px;
  font-family: "GT-Eesti-Display-Medium-Trial";
  border-radius: 10px 10px 0px 0px;
}
.main-container {
  margin-top: -63px;
  position: relative;
  z-index: 99;
}
h2.collection-header_title {
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;
  margin-bottom: 20px;
}
.trending_item {
  margin-bottom: 50px;
}
.trending_image {
  width: 100%;
  height: 90px;
  float: left;
}
.trending_content {
  padding-left: 0;
}
.widget.company-intro-widget {
  margin-bottom: 50px;
}
.footer-top .widget-title {
  color: #ffffff;
  margin-bottom: 30px;
}
.widget.course-links-widget {
  margin-bottom: 50px;
}
.footer-bottom {
  text-align: center;
}
.footer-top {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-top p, .company-footer-contact-list li {
  color: #ffffff;
  margin-bottom: 18px;
}
.tab-container .nav{
  text-align: center;
}
.tab-container .nav i{
margin-bottom: 10px;
}
.cart-flex {
  display: flex;
  flex-wrap: wrap;
}
.cart-box {
  width: 100%;
}
.details-sidebar {
  width: 100%;
  padding-left: 0px;
}
.tour-sv{
  flex-wrap: wrap;
  gap: 40px;
}
.tour-timeline {
  width: 100%;
}
.timeline-map {
  width: 100%;
}
.rv-rwo {
  width: 100%;
  border-right: 0px solid #00000021;
  padding: 0px;
}
.rv-main{
  flex-wrap: wrap;
  gap: 40px;
}
.rv-two{
  width: 100%;
  padding: 0px;
}
div#tourmaster-single-review-filter{
  flex-wrap: wrap;
  justify-content: center;
}
.tourmaster-sort-by-field:nth-child(3) {
  margin-right: 0;
}
.tourmaster-single-review-sort-by {
  text-align: center;
  margin-bottom: 9px;
  border-bottom: 1px solid #8080802b;
  padding-bottom: 20px;
}
.tourmaster-single-review-sort-by {
  width: 100%;
}
.tourmaster-sort-by-field {
  margin-right: 60px;
  padding-right: 33px;
}
.booking-form{
  padding: 25px;
}
.seo-location-item {
flex: auto;
}
.addtocart-float{
  position: fixed;
  width: 100%;
  bottom: 19px;
  /* margin: auto; */
  left: auto;
  right: auto;
  z-index: 9999;
  display: block;
}
.addtocart-float a {
  background: #fcb615;
  border: 0px solid;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  display: block;
  margin: 10px;
box-shadow: 0px 0px 10px #8080807d;
}
.addtocart-float a:focus, .addtocart-float a:visited {
color: #000;
}
h1.st-heading {
  font-size: 1.85rem;
  line-height: 2.1rem;
  margin-bottom: 15px;
}
.supplier-name {
  margin-left: 0;
}
.activity-section {
  flex-wrap: wrap;
}
.nl-row{
  flex-wrap: wrap;
}
.nl-row > div {
  flex: auto;
}
.nl-left img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}
.nl-right {
  padding: 30px 30px !important;
}
select#tourmaster-filter-by {
  width: 215px;
}
li.breadcrumb-item a {
  color: #63687a;
  font-size: 11px !important;
}
li.breadcrumb-item {
  color: #63687a;
  font-size: 11px !important;
}
.nowr{
  flex-wrap: nowrap !important;
}
.about-main-sc {
  padding: 70px 30px;
}
.make-meo h2 {
  font-size: 40px;
}
.about-fst-content {
  height: 350px;
}
.d-flex.dew {
  flex-wrap: wrap !important;
  gap: 20px !important;
}
.apply-fst-content .row {
  gap: 60px;
}
.apply-sco-box {
  border-bottom: 1px solid #0000002e;
}
.bg-scq {
  background: #fcb61512;
  padding: 0px;
  padding-bottom: 50px;
}
.row.align-center {
  align-items: center;
  background: #fcb61512;
  padding: 60px 30px;
}
div#myTabContent .row {
  gap: 50px;
}
.faq-box {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  padding: 60px 30px;
  border: 1px solid #00000033;
}
.com-row.frst .com-one {
  display: none;
}
.com-row.frst div {
  flex: 1;
}
.com-row.frst {
  align-items: center;
}
.com-one {
  /* flex: 3; */
  width: 100%;
  flex-basis: 100%;
}
.com-row{
  gap: 15px;
  flex-wrap: wrap;
}
.com-two {
  width: 30%;
  flex-basis: 30%;
}
.com-three {
  width: 30%;
  flex-basis: 30%;
}
.com-four {
  flex-basis: 30%;
  width: 30%;
}

section.collection-sc.bg-o .nav-tabs .nav-link {
  margin: 0px 5px;
      gap: 15px !important;
}
section.collection-sc.bg-o .nav-tabs li {
  list-style: none;
  margin-bottom: 14px !important;
}
.shopping-cart-item {
  display: grid;
  grid-template-areas: "cart-img"
  "cart-info"
    "cart-details"
    "cart-footer";
  grid-template-columns: auto;
  gap: 20px 25px;
}
.cart-sidebar {
  width: 100%;
  padding-left: 0;
}
.cart_content-total {
  text-align: right;
  margin-top: 50px;
  display: none;
}
.billing-box {
  margin-right: 0;
}
.bg-lft {
  display: none;
  }
  .bg-rght {
    display: none;
    }
    .bg-ly .apply-sco-box {
      padding: 25px 30px;
  }
  .slick-prev, .slick-next{
    display: none !important;
  }
  .faq-s .row {
    gap: 30px;
}
.faq-sq .row {
  row-gap: 30px;
}

/* section.collection-sc {
  border-bottom: 1px solid #00000026;
} */
.setting-tab {
  margin-bottom: 60px;
}
.tab-content .file-upload .img-area img {
  width: 50px;
  height: 50px;
}
.tab-content .file-upload .img-area {
  margin-right: 30px;
  width: 50px;
}
.wishlist-box .shopping-cart-item {
  display: grid;
}
.wishlist-box .cart-img {
  width: initial;
}
.wishlist-box .wis-box {
  width: initial;
}

.wishlist-items ul.act-attributes__con {
  margin-bottom: 0;
}
.wis-box {
  grid-area: wis-box;
}
.wishlist-items .shopping-cart-item {
  display: grid;
  grid-template-areas:
      "cart-img"
      "wis-box"
      "cart-footer";
  grid-template-columns: auto;
  gap: 20px 25px;
}
/* section.collection-sc.bg-o {
  background-image: none;
  padding-bottom: 70px;
} */
.bg-scq .apply-sco-box {
  padding: 35px 35px;
  height: 100%;
}
.slidermain .slick-slide {
  padding: 5px;
}
.r-tab-on {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.r-tab-in {
  flex: 1;
  width: 100%;
  min-width: 100%;
}
.reserv-tabs-btn {
  margin-top: 30px;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 6px;
  color: #6c757d;
}
.containert .left-half {
  display: none;
}
.containert  .right-half {
  width: 100%;
}
.reservation-box-middle .divin {
  flex: 1 !important;
  min-width: 100px;
}
.details-sidebar.tre {
  display: none;
}
.reservation-box-hder h3 {
  margin-bottom: 20px;
}
}
