.slider-container {
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  padding: 15px;
  border: 1px solid #00000033;
}

.activity-section {
  display: flex;
  align-items: center;
  gap: 20px;
  align-items: normal;
  margin-bottom: 30px;
}

.activity-section.tw .activity-container {
  min-width: 170px;
}

.activity-section.tw {
  border-bottom: 1px solid #00000026;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.activity-container {
  font-size: 22px;
}

.activity-content {
  flex-grow: 1;
}

.activity-heading {
  font-size: 17px;
  color: #333;
  margin-bottom: 10px;
}

.activity-description {
  font-size: 16px;
  color: #666;
}
