* {
  box-sizing: border-box;
  transition: 0.1s;
}

@font-face {
  font-family: "GT-Eesti-Display-Bold-Trial";
  src: url("../fonts/GT-Eesti-Display-Bold-Trial.woff") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "GT-Eesti-Display-Light-Trial";
  src: url("../fonts/GT-Eesti-Display-Light-Trial.woff") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "GT-Eesti-Display-Regular-Trial";
  src: url("../fonts/GT-Eesti-Display-Regular-Trial.woff") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "GT-Eesti-Display-Medium-Trial";
  src: url("../fonts/GT-Eesti-Display-Medium-Trial.woff") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "GT-Eesti-Display-UltraBold-Trial";
  src: url("../fonts/GT-Eesti-Display-UltraBold-Trial.woff") format("truetype");
  font-weight: 800;
}

body {
  font-family: "GT-Eesti-Display-Regular-Trial";
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "GT-Eesti-Display-Bold-Trial";
}

img {
  max-width: 100%;
}

ul li {
  list-style: none;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

/* .container{
    max-width: 1250px;
} */
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #fcb615;
}

input {
  outline: none;
}

header.main-header {
  position: absolute;
  width: 100%;
  z-index: 999;
  font-size: 17px;
}

header.main-header.oth {
  position: initial !important;
}

.main-header.oth .header-list ul li {
  color: #000;
  cursor: pointer;
}

.logo img {
  width: 203px;
}

.searchbox {
  position: relative;
  width: 514px;
  height: 56px;
  padding: 6px;
  border-radius: 100px;
  border: 2px solid #fcb615;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: auto;
}

.searchbox input {
  width: 100%;
}

button.search-box-submit {
  /* position: absolute; */
  right: 0;
  background: #fcb615;
  border: 0px solid;
  padding: 10px 20px;
  border-radius: 30px;
  /* bottom: 0; */
}

.searchbox i {
  /* position: absolute; */
  font-size: 22px;
  top: 50%;
  padding: 0px 12px;
}

.searchbox input {
  width: 100%;
  height: 100%;
  border: 0px;
}

.header-list ul {
  display: flex;
  gap: 20px;
}

.header-list ul li {
  padding: 6px;
  color: #fff;
  text-align: center;
  /* font-weight: 600; */
  font-family: "GT-Eesti-Display-Medium-Trial";
  font-weight: 500;
}

.header-list ul li i {
  display: block;
  margin-bottom: 3px;
  font-size: 18px;
}

.main-header .row {
  align-items: center;
}

.header-list {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.header-list ul li {
  display: flex;
  flex-direction: column;
  font-size: 19px;
}

.header-list ul li span {
  font-size: 17px;
  margin-top: 3px;
}

header.main-header {
  /* background: linear-gradient(180deg,#000 0,rgba(0,0,0,0)); */
  padding: 20px 0px;
}

/* banner */
.banner-sc {
  height: 100vh;
  position: relative;
}

.banner-sc:before {
  position: absolute;
  content: "";
  background: linear-gradient(
    268deg,
    rgba(12, 24, 47, 0) 34.23%,
    rgba(12, 24, 47, 0.6) 97.86%
  );
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #000;
  opacity: 0.3;
}

section.banner-sc {
  display: flex;
  align-items: center;
}

.banner-content {
  position: absolute;
  /* top: 20%; */
  z-index: 9;
  width: 100%;
  color: #fff;
}

.banner-content h1 {
  color: #fff;
  font-size: 4rem;
  line-height: 4.25rem;
  margin-bottom: 2rem;
}

.originals-badge img {
  margin-right: 6px;
  width: 12px;
}

img.banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-section__subheader {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.originals-badge {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 17px;
}

a.learnmore {
  color: #fff;
  font-size: 21px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transition: 0.1s;
}

a.learnmore:hover {
  transition: 0.1s;
  color: #fcb615;
}

/* anothercss */

.act-content {
  padding: 20px 20px;
  background-color: #fff;
}

/* menu */
.main-container {
  margin-top: -47px;
  position: relative;
  z-index: 99;
}

.nav {
  justify-content: space-between;
}

.nav-pills .nav-link {
  /* background: #fff; */
  color: #fff;
  padding: 20px 60px;
  font-size: 24px;
  font-family: "GT-Eesti-Display-Medium-Trial";
  border-radius: 25px 25px 0px 0px;
}

.menu-active {
  color: rgb(0, 0, 0) !important;
  background-color: #fcb615;
  font-family: "GT-Eesti-Display-Bold-Trial";
  outline: 0;
}

.tab-container {
  height: 47px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

/* footer */

.footer-section {
  background-color: #25282c;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.footer-section:before {
  content: "";
  position: absolute;
  top: -146%;
  left: -18%;
  width: 44%;
  height: 257%;
  transform: rotate(54deg);
  background-color: #232528;
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  z-index: -10;
}

.footer-section:after {
  position: absolute;
  content: "";
  background-color: #232528;
  top: -24%;
  right: 4%;
  width: 26%;
  height: 264%;
  transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
  -moz-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  -o-transform: rotate(44deg);
  z-index: -10;
}

.footer-top {
  padding-top: 96px;
  padding-bottom: 50px;
}

.footer-top p,
.company-footer-contact-list li {
  color: #ffffff;
  margin-bottom: 10px;
}

.company-footer-contact-list {
  margin-top: 10px;
}

.company-footer-contact-list li {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.company-footer-contact-list li + li {
  margin-top: 5px;
}

.company-footer-contact-list li i {
  margin-right: 10px;
  font-size: 20px;
  display: inline-block;
}

.footer-top .site-logo {
  margin-bottom: 25px;
  display: block;
  max-width: 170px;
}

.widget-title {
  text-transform: capitalize;
}

.footer-top .widget-title {
  color: #ffffff;
  margin-bottom: 40px;
}

.courses-link-list li + li {
  margin-top: 10px;
}

.courses-link-list li a {
  color: #ffffff;
  text-transform: capitalize;
  font-family: var(--para-font);
  font-weight: 400;
}

.courses-link-list li a:hover {
  color: #fcb615;
}

.courses-link-list li i {
  margin-right: 5px;
}

.footer-top .small-post-title a {
  font-family: var(--para-font);
  color: #ffffff;
  font-weight: 400;
}

.small-post-item .post-date {
  color: #fcb615;
  margin-bottom: 3px;
  font-family: var(--para-font);
  font-weight: 400;
}

.small-post-list li + li {
  margin-top: 30px;
}

.news-letter-form {
  margin-top: 15px;
}

.news-letter-form input {
  width: 100%;
  padding: 12px 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
}

.news-letter-form input[type="submit"] {
  width: auto;
  border: none;
  background-color: #fcb615;
  padding: 9px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #000;
  margin-top: 10px;
}

.footer-bottom {
  padding: 13px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.149);
}

.copy-right-text {
  color: #ffffff;
}

.copy-right-text a {
  color: #fcb615;
}

.terms-privacy li + li {
  margin-left: 30px;
}

.terms-privacy li a {
  color: #ffffff;
  position: relative;
}

.terms-privacy li a:after {
  position: absolute;
  content: "-";
  color: #ffffff;
  display: inline-block;
  top: 0;
  right: -18px;
}

.terms-privacy li + li a:after {
  display: none;
}

ul.social-links {
  margin-top: 30px;
}

ul.social-links li i {
  color: #fff;
  font-size: 22px;
}

ul.social-links li {
  display: inline-block;
  padding-right: 16px;
}

/* footer bottom */

.footer-bottom {
  padding: 13px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.149);
}

.copy-right-text {
  color: #ffffff;
}

.copy-right-text a {
  color: #fcb615;
}

.social-links li a {
  font-size: 20px;
  color: #fff;
}

/* Adventures */

.destination-box {
  width: 303px;
}

a.location-card {
  border-radius: 8px;
  border: none;
  color: #fff;
  position: relative;
}

figure.image-figure {
  height: 400px;
  background-color: var(--background-secondary);
  display: flex;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  align-items: center;
}

.location-card img {
  /* border-radius: 5px;
    object-fit: cover; */
  object-fit: cover;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
}

.location-card_caption {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
  padding: 0px;
  position: absolute;
  z-index: 9999999;
  bottom: 8%;
  left: 0;
  padding: 10px 15px;
  width: 100%;
}

a.location-card {
  position: relative;
  overflow: hidden;
  display: block;
}

a.location-card::after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #00000045;
}

.intro_price {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.adventures-rating div svg {
  font-size: 16px;
}

a.location-card img {
  transition: 0.5s;
}

a.location-card:hover img {
  transform: scale(1.2);
  transition: 0.5s;
}

/* Trending */
.trending {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 80px;
}

.trending_container {
  margin-top: 10px;
}

.trending_item {
  margin-bottom: 55px;
}

.trending_image {
  width: 110px;
  height: 70px;
  float: left;
}

.trending_image img {
  width: 100%;
  height: 73px;
  object-fit: cover;
}

.trending_content {
  padding-left: 130px;
}

.trending_title {
  margin-top: -5px;
}

.trending_title a {
  font-size: 16px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.trending_title a:hover {
  color: #fa9e1b;
}

.trending_price {
  font-size: 14px;
  font-weight: 700;
  color: #fcb615;
  margin-top: 2px;
}

.trending_location {
  font-size: 14px;
  font-weight: 400;
  color: #929191;
  text-transform: uppercase;
  margin-top: 5px;
}

/* Breadcrumb container */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 40px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

/* Breadcrumb items */
.breadcrumb-item {
  display: inline-block;
}

/* Styling for links */
.breadcrumb-item a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}

/* Active/Current page item */
.breadcrumb-item.active {
  color: #6c757d;
}

/* Arrow separator */
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 15px;
  color: #6c757d;
}

.breadcrumb {
  margin-top: 30px;
}

li.breadcrumb-item a {
  color: #63687a;
}

.breadcrumb .active a {
  cursor: default;
}

/* service-content */
.single #st-content-wrapper .st-single-service-content {
  margin-top: 50px;
}

.st-service-header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between !important;
}

.st-single-tour.st-single-tour-10 .st-service-header2 .left {
  display: flex;
  flex-flow: column;
}

.st-single-tour.st-single-tour-10 .st-service-header2 .left .st-heading {
  order: 2;
  font-size: 32px !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 45px !important;
  letter-spacing: -0.8px !important;
  color: var(--heading-color);
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.st-single-tour.st-single-tour-10 .st-service-header2 .left .sub-heading {
  order: 1;
}

h1.st-heading {
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-bottom: 20px;
}

.review {
  font-size: 13px;
}

/* gallery */
.slick-slider .slick-prev,
.slick-slider .slick-next {
  z-index: 100;
  font-size: 2.5em;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: #b7b7b7;
  position: absolute;
  top: 50%;
  text-align: center;
  color: #000;
  opacity: 0.3;
  transition: opacity 0.25s;
  cursor: pointer;
}

.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
  opacity: 0.65;
}

.slick-slider .slick-prev {
  left: 0;
}

.slick-slider .slick-next {
  right: 0;
}

div#detail {
  margin-bottom: 30px;
}

#detail .product-images {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  padding: 15px;
  border: 1px solid #00000033;
}

#detail .product-images li,
#detail .product-images figure,
#detail .product-images a,
#detail .product-images img {
  display: block;
  outline: none;
  border: none;
}

#detail .product-images .main-img-slider figure {
  margin: 0 auto;
  padding: 0 2em;
}

#detail .product-images .main-img-slider figure a {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

#detail .product-images .main-img-slider figure a img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#detail .product-images .thumb-nav {
  margin: 0 auto;
  padding: 20px 10px;
  /* max-width: 600px; */
}

#detail .product-images .thumb-nav.slick-slider .slick-prev,
#detail .product-images .thumb-nav.slick-slider .slick-next {
  font-size: 1.2em;
  height: 20px;
  width: 26px;
  margin-top: -10px;
}

#detail .product-images .thumb-nav.slick-slider .slick-prev {
  margin-left: -30px;
}

#detail .product-images .thumb-nav.slick-slider .slick-next {
  margin-right: -30px;
}

#detail .product-images .thumb-nav li {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#detail .product-images .thumb-nav li img {
  display: block;
  width: 100%;
  /* max-width: 75px; */
  margin: 0 auto;
  border: 2px solid transparent;
  -webkit-transition: border-color 0.25s;
  -ms-transition: border-color 0.25s;
  -moz-transition: border-color 0.25s;
  transition: border-color 0.25s;
}

#detail .product-images .thumb-nav li:hover,
#detail .product-images .thumb-nav li:focus {
  border-color: #999;
}

#detail .product-images .thumb-nav li.slick-current img {
  border-color: #fcb615;
}

.reservation-box-mn {
  background: #ffffff;
  padding: 30px 30px;
  border-radius: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  padding: 30px 30px;
  border: 1px solid #00000033;
  margin-bottom: 30px;
  margin-top: 40px;
}

.reservation-box-mn h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* ---------------------- */
.us-input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 5px;
  padding: 5px 16px;
  /* width: 250px;  */
}

.us-input-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  width: 100%;
}

.icon-left,
.icon-right {
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.us-input-dropdown {
  position: absolute;
  bottom: auto;
  border-radius: 4px;
  box-shadow: 0 0 8px #00000040;
  animation-name: slide-bottom-82dd92fc;
  animation-duration: 0.2s;
  border: 1px solid var(--border-primary);
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 1000;
}

.in-drop-flex {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #ebeef1;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 15px;
}

.in-drop-on h3 {
  font-size: 18px;
  font-family: "GT-Eesti-Display-Medium-Trial";
  margin-bottom: 2px;
}

.quantity-box {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #fcb615;
  color: #fff;
  border: none;
  padding: 5px 5px;
  width: 27px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
}

.quantity-input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
}

#options {
  position: absolute;
  bottom: auto;
  border-radius: 4px;
  box-shadow: 0 0 8px #00000040;
  animation-name: slide-bottom-82dd92fc;
  animation-duration: 0.2s;
  border: 1px solid var(--border-primary);
  background-color: #fff;
  padding: 16px !important;
  z-index: 100;
  padding: 5px;
  width: 212px;
}

button.c-button {
  color: #000;
  background: #fcb615;
  border-color: #fcb615;
  border-style: solid;
  border-radius: 5rem;
  border-width: 2px;
  transition: background-color 0.2s ease-out;
  outline: 0;
  display: block;
  width: 100%;
  padding: 9px 15px;
}

.reservation-box-result {
  background: #ffffff;
  padding: 30px 30px;
  border-radius: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  padding: 0px 0px;
  border: 2px solid #fcb615;
}

.reservation-box-hder {
  border-bottom: 1px solid #00000033;
  padding-bottom: 10px;
  margin: 30px 30px;
}

.cart-details {
  grid-area: cart-details;
}

.cart-details ul li {
  font-size: 15px;
  margin-bottom: 10px;
  color: #1a2b49;
}

.checkout-summary .cart-details {
  padding: 20px;
  border-bottom: 1px solid #00000033;
}

.cart-details.res ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.cart-details.res ul li {
  font-size: 17px;
  flex: 47%;
}

.cart-details.res ul li i {
  margin-right: 8px;
}

.reservation-box-middle .divin {
  flex: 1 !important;
  min-width: 150px;
}

.reservation-box-middle label {
  margin-bottom: 15px;
}

.reservation-box-middle {
  margin: 30px;
}

.gift-form .dew {
  width: 100%;
  gap: 15px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.gift-form .divin {
  width: 100%;
  background: #f1f1f1;
  padding: 10px 18px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-personal-details .single-input {
  margin-top: 25px;
}

.single-input label {
  margin-bottom: 10px;
}

.setting-personal-details .single-input input {
  border-style: solid;
  border-width: 1px;
  /* border-color: #000000; */
  border-radius: 2px;
  background-color: #fff;
  height: 55px;
  display: block;
  width: 100%;
  padding: 0px 15px;
  color: #0e0e0e;
  border-radius: 7px;
}

.setting-personal-details .single-input select {
  border-style: solid;
  border-width: 1px;
  /* border-color: #000000; */
  border-radius: 2px;
  background-color: #fff;
  height: 55px;
  display: block;
  width: 100%;
  padding: 0px 15px;
  color: #fff;
  border-radius: 7px;
}

.setting-personal-details input[type="radio"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.setting-personal-details {
  border: none;
  padding: 0;
  padding-bottom: 40px;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #00000033;
}

@media (max-width: 1420px) {
  .main-header,
  .banner-home {
    padding: 0 50px !important;
  }

  .nav-pills .nav-link {
    padding: 10px 30px;
  }

  .main-container {
    margin-top: -36px;
  }

  .tab-container {
    height: 37px;
  }
}

@media (max-width: 1140px) {
  .searchbox {
    width: auto;
  }

  .nav-item a {
    font-size: 20px !important;
  }

  .main-container {
    margin-top: -32px;
  }

  .tab-container {
    height: 33px;
  }
}

@media (max-width: 1030px) {
  .nav-pills .nav-link {
    padding: 5px 10px;
  }

  .nav-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    margin-top: -52px;
  }

  .tab-container {
    height: 52px;
  }
}

@media (max-width: 991px) {
  .footer-bottom {
    text-align: center;
  }

  .banner-content h1 {
    color: #fff;
    font-size: 2.5rem;
    line-height: 2.8rem;
    margin-bottom: 1rem;
  }

  .hero-section__subheader {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
    margin-bottom: 40px;
  }
}

@media (max-width: 880px) {
  .searchbox {
    width: 100% !important;
  }
}

@media (max-width: 590px) {
  .nav-pills .nav-link {
    padding: 5px;
  }

  .nav-item a {
    font-size: 14px !important;
  }

  .main-container {
    margin-top: -46px;
  }

  .tab-container {
    height: 46px;
  }
}

@media (max-width: 550px) {
  .main-header,
  .banner-home {
    padding: 0 20px !important;
  }
}
